.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 640px;
  height: 640px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
}

.count {
  opacity: 0.5;
}

.box {
  width: 80px;
  height: 80px;
  border: solid 2px black;
  flex-shrink: 0;
}

.disc.empty {
  display: none;
}

.disc.black {
  width: 76px;
  height: 76px;
  background-color: black;
  border: solid 0 black;
  border-radius: 50px;
}

.disc.white {
  width: 76px;
  height: 76px;
  background-color: white;
  border: solid 1px black;
  border-radius: 50px;
}

.disc.allow {
  top: 1px;
  right: 1px;
  width: 76px;
  height: 76px;
  background-color: green;
  border: solid 5px rgb(255 128 0);
}
